<nb-card>
  <nb-card-body>
    <ng2-smart-table
    [settings]="settings"
    [source]="source"
    (deleteConfirm)="onDeleteConfirm($event)"
    (rowSelect)="onRowSelect($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <div class="input-group">
      <textarea rows="30" readonly="true" [(ngModel)]="detail.data" placeholder="Configuration" class="form-control" style="white-space:pre; font-family:monospace"></textarea>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="col-sm-9">
      <button class="btn btn-success" (click)="update_handler()">Update</button>
    </div>
  </nb-card-footer>

</nb-card>