<nb-card>
  <nb-tabset>
    <nb-tab tabTitle="Parkinglots">
        <nb-card-body>
          <ng2-smart-table
            [settings]="settings"
            [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)"
            (rowSelect)="onRowSelect($event)"
          >
          </ng2-smart-table>
        </nb-card-body>


      <!-- <nb-card> -->
        <nb-tabset>
          <nb-tab tabTitle="Detail">
            <nb-card-body>

              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" readonly="true" [(ngModel)]="parkinglots_detail.name" class="form-control" id="name" placeholder="Name">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="context">Context</label>
                    <input type="text" [(ngModel)]="parkinglots_detail.setting.context" class="form-control" id="context" placeholder="context">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkext">Park extension</label>
                    <input type="text" [(ngModel)]="parkinglots_detail.setting.parkext" class="form-control" id="parkext" placeholder="Park Extension">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkpos">Parking position</label>
                    <input type="text" [(ngModel)]="parkinglots_detail.setting.parkpos" class="form-control" id="parkpos" placeholder="Parking Position">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkingtime">Parkingtime</label>
                    <input type="text" [(ngModel)]="parkinglots_detail.setting.parkingtime" class="form-control" id="parkingtime" placeholder="Parkingtime">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="comebacktoorigin">Comback to origin</label>
                    <input type="text" [(ngModel)]="parkinglots_detail.setting.comebacktoorigin" class="form-control" id="comebacktoorigin" placeholder="Comback to origin">
                  </div>
                </div>



              </div>

            </nb-card-body>

            <nb-card-footer>
              <div class="col-sm-9">
                <button class="btn btn-success" (click)="detail_update_handler()">Update</button>
              </div>
            </nb-card-footer>

          </nb-tab>
          <nb-tab tabTitle="Create">

            <nb-card-body>

              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" [(ngModel)]="parkinglots_create.name" class="form-control" id="name" placeholder="Name">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="context">Context</label>
                    <input type="text" [(ngModel)]="parkinglots_create.setting.context" class="form-control" id="context" placeholder="context">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkext">Park extension</label>
                    <input type="text" [(ngModel)]="parkinglots_create.setting.parkext" class="form-control" id="parkext" placeholder="Park Extension">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkpos">Parking position</label>
                    <input type="text" [(ngModel)]="parkinglots_create.setting.parkpos" class="form-control" id="parkpos" placeholder="Parking Position">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="parkingtime">Parkingtime</label>
                    <input type="text" [(ngModel)]="parkinglots_create.setting.parkingtime" class="form-control" id="parkingtime" placeholder="Parkingtime">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="comebacktoorigin">Comback to origin</label>
                    <input type="text" [(ngModel)]="parkinglots_create.setting.comebacktoorigin" class="form-control" id="comebacktoorigin" placeholder="Comback to origin">
                  </div>
                </div>


              </div>

            </nb-card-body>

            <nb-card-footer>
              <div class="col-sm-9">
                <button class="btn btn-success" (click)="detail_create_handler()">Create</button>
              </div>
            </nb-card-footer>

          </nb-tab>

        </nb-tabset>
      <!-- </nb-card> -->


    </nb-tab>

    <!-- <nb-tab tabTitle="Global">
      {{global}}
    </nb-tab> -->
  </nb-tabset>
</nb-card>
