<nb-card>
  <nb-card-header>
  Static dialplans
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      (rowSelect)="onRowSelect($event)"
    >
    </ng2-smart-table>  
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Detail
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="settings_data"
      [source]="source_data"
      (rowSelect)="onRowSelectData($event)"
      (createConfirm)="onCreateConfirmData($event)"
    >
    </ng2-smart-table>  
  </nb-card-body>

  <nb-card-footer>
    <div class="col-sm-9">
      <button class="btn btn-success" (click)="update_handler()">Update static dialplan</button>
    </div>
  </nb-card-footer>

</nb-card>