<nb-card>
  <nb-card-header>
    Channels
  </nb-card-header>

  <nb-card-body>
    <!-- <div style="white-space:pre; font-family:monospace"> -->
    <!-- <div style="font-family:monospace; padding:2px"> -->
    <div class="jade-table">
      <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (rowSelect)="onRowSelect($event)"
      >
      </ng2-smart-table>
    </div>
  </nb-card-body>

</nb-card>

<nb-card>
  <nb-card-header>
    Detail info
  </nb-card-header>

  <nb-card-body>
    <div style="white-space:pre; font-family:monospace">{{detail_info}}</div>
  </nb-card-body>
</nb-card>
