<nb-card>
  <nb-card-header>
    {{list_name}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (rowSelect)="onRowSelect($event)"
      >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Detail info
  </nb-card-header>

  <nb-card-body>
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="uuid">UUID</label>
          <input type="text" readonly="true" [(ngModel)]="detail.uuid" class="form-control" id="uuid" placeholder="UUID">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="detail.name" class="form-control" id="name" placeholder="Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="detail">Detail</label>
          <input type="text" [(ngModel)]="detail.detail" class="form-control" id="detail" placeholder="Detail">
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="dial_mode">Dial Mode</label>
          <input type="text" readonly="true" [(ngModel)]="detail.dial_mode" class="form-control" id="dial_mode" placeholder="Dial Mode">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="dl_end_handle">Dial End Handle</label>
          <input type="text" [(ngModel)]="detail.dl_end_handle" class="form-control" id="dl_end_handle" placeholder="Dial End Handle">
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="form-group">
          <label for="dial_timeout">Dial Timeout</label>
          <input type="text" [(ngModel)]="detail.dial_timeout" class="form-control" id="dial_timeout" placeholder="Dial Timeout">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="retry_delay">Retry Delay</label>
          <input type="text" [(ngModel)]="detail.retry_delay" class="form-control" id="retry_delay" placeholder="Retry Delay">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tech_name">Tech Name</label>
          <input type="text" [(ngModel)]="detail.tech_name" class="form-control" id="tech_name" placeholder="Tech Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="trunk_name">Trunk Name</label>
          <input type="text" [(ngModel)]="detail.trunk_name" class="form-control" id="trunk_name" placeholder="Trunk Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="service_level">Service Level</label>
          <input type="text" [(ngModel)]="detail.service_level" class="form-control" id="service_level" placeholder="Service Level">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="caller_id">Caller ID</label>
          <input type="text" [(ngModel)]="detail.caller_id" class="form-control" id="caller_id" placeholder="Caller ID">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="codecs">Codecs</label>
          <input type="text" [(ngModel)]="detail.codecs" class="form-control" id="codecs" placeholder="Codecs">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="early_media">Early Media</label>
          <input type="text" [(ngModel)]="detail.early_media" class="form-control" id="early_media" placeholder="Early Media">
        </div>
      </div>
              
                                                         
    </div>


    <div class="row">
  
      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_1">Max Retry Count 1</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_1" class="form-control" id="max_retry_cnt_1" placeholder="Max Retry Count 1">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_2">Max Retry Count 2</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_2" class="form-control" id="max_retry_cnt_2" placeholder="Max Retry Count 2">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_3">Max Retry Count 3</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_3" class="form-control" id="max_retry_cnt_3" placeholder="Max Retry Count 3">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_4">Max Retry Count 4</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_4" class="form-control" id="max_retry_cnt_4" placeholder="Max Retry Count 4">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_5">Max Retry Count 5</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_5" class="form-control" id="max_retry_cnt_5" placeholder="Max Retry Count 5">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_6">Max Retry Count 6</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_6" class="form-control" id="max_retry_cnt_6" placeholder="Max Retry Count 6">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_7">Max Retry Count 7</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_7" class="form-control" id="max_retry_cnt_7" placeholder="Max Retry Count 7">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="max_retry_cnt_8">Max Retry Count 8</label>
          <input type="text" [(ngModel)]="detail.max_retry_cnt_8" class="form-control" id="max_retry_cnt_8" placeholder="Max Retry Count 8">
        </div>
      </div>

                    
    </div>



    <div class="row">
  
      <div class="col-sm-6">
        <div class="form-group">
          <label for="variables">Variables</label>
          <input type="text" [(ngModel)]="detail_variables" class="form-control" id="variables" placeholder="Variables">
        </div>
      </div>

    </div>

    <div class="row">
  
      <div class="col-sm-6">
        <div class="form-group">
          <label for="tm_create">Tm Create</label>
          <input type="text" [(ngModel)]="detail.tm_create" class="form-control" id="tm_create" placeholder="Tm Create">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tm_update">Tm Update</label>
          <input type="text" [(ngModel)]="detail.tm_update" class="form-control" id="tm_update" placeholder="Tm Update">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tm_delete">Tm Delete</label>
          <input type="text" [(ngModel)]="detail.tm_delete" class="form-control" id="tm_delete" placeholder="Tm Delete">
        </div>
      </div>

    </div>
    
  </nb-card-body>

  <nb-card-footer>
    <div class="col-sm-9">
      <button class="btn btn-primary" (click)="create_handler()">Create</button>
      <button class="btn btn-success" (click)="update_handler()">Update</button>
    </div>
  </nb-card-footer>
  
</nb-card>

