<nb-card>
  <nb-card-header>
    {{list_name}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (rowSelect)="onRowSelect($event)"
      >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>

  <nb-card-header>Detail info</nb-card-header>

  <nb-card-body>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" readonly="true" [(ngModel)]="detail.name" class="form-control" id="name" placeholder="Name">
        </div>
      </div>

    </div>
    
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="start_space">Start Space</label>
          <input type="text" readonly="true" [(ngModel)]="detail.start_space" class="form-control" id="start_space" placeholder="Start Space">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="stop_space">Stop Space</label>
          <input type="text" readonly="true" [(ngModel)]="detail.stop_space" class="form-control" id="stop_space" placeholder="Stop Space">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="timeout">Timeout</label>
          <input type="text" readonly="true" [(ngModel)]="detail.timeout" class="form-control" id="timeout" placeholder="Timeout">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tm_update">Tm Update</label>
          <input type="text" readonly="true" [(ngModel)]="detail.tm_update" class="form-control" id="tm_update" placeholder="Tm Update">
        </div>
      </div>

    </div>

  </nb-card-body>

</nb-card>
