<nb-card>
  <nb-card-header>
    Agents
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (rowSelect)="onRowSelect($event)"
      >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="detail">
  <nb-card-header>
    Detail info
  </nb-card-header>

  <nb-card-body>
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" readonly="true" [(ngModel)]="detail.id" class="form-control" id="id" placeholder="ID">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" readonly="true" [(ngModel)]="detail.name" class="form-control" id="name" placeholder="Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" readonly="true" [(ngModel)]="detail.status" class="form-control" id="status" placeholder="Status">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="logged_in_time">Logged In Time</label>
          <input type="text" readonly="true" [(ngModel)]="detail.logged_in_time" class="form-control" id="logged_in_time" placeholder="Logged In Time">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="unique_id">Unique ID</label>
          <input type="text" readonly="true" [(ngModel)]="detail.unique_id" class="form-control" id="unique_id" placeholder="Unique ID">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="linked_id">Linked ID</label>
          <input type="text" readonly="true" [(ngModel)]="detail.linked_id" class="form-control" id="linked_id" placeholder="Linked ID">
        </div>
      </div>



      <div class="col-sm-6">
        <div class="form-group">
          <label for="channel_name">Channel Name</label>
          <input type="text" readonly="true" [(ngModel)]="detail.channel_name" class="form-control" id="channel_name" placeholder="Channel Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="channel_state">Channel State</label>
          <input type="text" readonly="true" [(ngModel)]="detail.channel_state" class="form-control" id="channel_state" placeholder="Channel State">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="channel_state_desc">Channel State Description</label>
          <input type="text" readonly="true" [(ngModel)]="detail.channel_state_desc" class="form-control" id="channel_state_desc" placeholder="Channel State Description">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="context">Context</label>
          <input type="text" readonly="true" [(ngModel)]="detail.context" class="form-control" id="context" placeholder="Context">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="exten">Extension</label>
          <input type="text" readonly="true" [(ngModel)]="detail.exten" class="form-control" id="exten" placeholder="Extension">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="priority">Priority</label>
          <input type="text" readonly="true" [(ngModel)]="detail.priority" class="form-control" id="priority" placeholder="Priority">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="connected_line_name">Connected Line Name</label>
          <input type="text" readonly="true" [(ngModel)]="detail.connected_line_name" class="form-control" id="connected_line_name" placeholder="Connected Liine Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="connected_line_num">Connected Line Number</label>
          <input type="text" readonly="true" [(ngModel)]="detail.connected_line_num" class="form-control" id="connected_line_num" placeholder="Connected Line Num">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="account_code">Account Code</label>
          <input type="text" readonly="true" [(ngModel)]="detail.account_code" class="form-control" id="account_code" placeholder="Account Code">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" readonly="true" [(ngModel)]="detail.language" class="form-control" id="language" placeholder="Language">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tm_update">Tm Update</label>
          <input type="text" readonly="true" [(ngModel)]="detail.tm_update" class="form-control" id="tm_update" placeholder="Tm Update">
        </div>
      </div>

    </div>

  </nb-card-body>
</nb-card>
